body{
	overflow-x: hidden;
}

.logo-text{
   color: #000;
   font-family: 'Roboto';
   font-size: 14px;
   line-height: 16px;
   margin-left: 12px;
}

ul li{
   list-style: none;
}

li a{
   text-decoration: none;
   color: #FF9100;
   font-family: 'Roboto';
   font-size: 18px;
   font-weight: 700;
   line-height: 21px;
   column-gap: 26px;
   white-space: nowrap;
}

li a:hover{
   color: #D46363;
}

.btn, .btn__title{
   display: inline-flex;
   padding: 10px 26px;
   background: #FF9100;
   border-radius: 12px;
   color: #fff !important;
   text-decoration: none;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
}

.btn__title{
   margin-top: 26px;
}

.btn:hover, .btn__title:hover{
   background-color: #D46363;
}

.icon-menu {
	display: none;
	margin-left: 20px;
	position: relative;
	z-index: 2;
	overflow: hidden;
	width: 30px;
	height: 20px;
}

.icon-menu span {
	position: absolute;
	height: 3px;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translate(0px, -50%);
	background-color: #D46363;
}

.icon-menu::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #FF9100;
}

.icon-menu::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #FF9100;
}

.hero__title p{
   font-family: 'Roboto';
   color: #374B5C;
   font-weight: 500;
}

.hero__title-head{
   font-size: 28px;
}

.hero__title h1{
   font-family: 'Roboto Slab';
   font-weight: 700;
   font-size: 64px;
   line-height: 84px;
   color: #374B5C;
}

.events__card {
	position: relative;
	border-radius: 30px;
	flex: 0 1 100%;
}

.event__image {
	position: relative;
	border-radius: 30px;
	min-height: 387px;
	max-width: 100%;
	background-image: url('../img/hero-image.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.gradient {
	position: absolute;
	border-radius: 30px;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.53%, #D46363 96.89%);
}

.image__circles {
	position: absolute;
	left: 50%;
	bottom: -70px;
	display: flex;
	justify-content: center;
	transform: translate(-50%, 0%);
}

.circles__img {
	width: 24px;
	height: 24px;
	margin: 0 14px;
	margin-bottom: 34px;
	background-color: #FF9100;
	border-radius: 50%;
}

.circles__img:hover {
	background-color: #d56363;
	cursor: pointer;
}

.arrows {
	display: flex;
	justify-content: space-between;
	padding-top: 152px;
	padding-bottom: 22px;
}

.arrow__left {
	background-image: url('../img/arrow-left.png');
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.arrow__right {
	background-image: url('../img/arrow-right.png');
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.event__date {
	margin-left: 34px;
	margin-bottom: 8px;
	display: inline-block;
}

.date {
	display: inline;
	padding: 6px 12px;
	width: 100%;
	background-color: rgba(255, 145, 0, 0.6);
	border-radius: 12px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	transition: 1s;
}

.date:hover {
	background-color: #FF9100;
	transition: 1s;
	padding: 8px 16px;
}

.event__describe {
	margin-left: 34px;
	max-width: 530px;
	z-index: 2;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	color: #FFFFFF;
}

.line {
	display: flex;
	align-items: center;
}

.line div {
	height: 2px;
	width: 100%;
	background-color: #FF9100;
}

.line h2 {
	white-space: nowrap;
	font-family: 'Roboto';
	font-size: 36px;
	line-height: 42px;
}

.line h2 {
	margin: 0 26px;
	color: #FF9100;
}

.projects__text {
	max-width: 836px;
	margin: 0 auto;
}

.text p{
	text-align: center;
	font-size: 18px;
	line-height: 21px;
	color: #374B5C;
}

.item{
   min-height: 305px;
   max-height: 305px;
   min-width: 100%;
   max-width: 100%;
   background-color: #FF9100;
   border-radius: 24px;
   transition: all 0.4s ease 0s;
}

.item:hover{
   background-color: #D46363;
   box-shadow: 5px 5px 10px #d46363a0;
   transform: scale(1.02);
   cursor: pointer;
}

.item h2, p{
   color: #fff;
}

.item h2{
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 24px;
   line-height: 1.2;
}

.item p{
   font-family: 'Roboto';
   font-size: 18px;
   line-height: 1.2;
}

.team {
	background-color: #fceded;
}

.team__image img {
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.team__image img:hover {
	transform: scale(1.03);
}

.team__line {
	display: flex;
	align-items: center;
}

.team__line div {
	height: 2px;
	width: 100%;
	background-color: #D46363;
	margin-top: 26px;
}

.team__line h2 {
	white-space: nowrap;
	color: #D46363;
	margin: 0 26px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
}

.team__cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 36px;
	gap: 20px;
}

.team__circle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 28px;
	gap: 23px;
}

.circles-team {
	width: 24px;
	height: 24px;
	background-color: grey;
	border-radius: 50%;
}

.circles-team:hover {
	background-color: #d56363;
	cursor: pointer;
}

.team__btn {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.big__btn {
	padding: 28px 55px;
	background: #FF9100;
	border-radius: 12px;
	font-size: 18px;
	line-height: 21px;
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 28px;
}

.big__btn:hover {
	background-color: #d56363;
	cursor: pointer;
}

.partners__title {
	display: flex;
	justify-content: center;
}

.partners__title h2 {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
}

.partners__image {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.partners__img {
	background-image: url('../img/Vector\ 1.png');
	background-repeat: no-repeat;
	width: 151px;
	height: 60px;
	transition: 0.3s;
}

.partners__img:hover {
	background-image: url('../img/Vector\ 5.png');
	background-repeat: no-repeat;
	width: 151px;
	height: 60px;
	cursor: pointer;
}

.footer {
	background-color: #FF9100;
	color: #fff;
}

.footer__main {
	display: flex;
	align-items: center;
	padding: 37px 0 28px 0;
	gap: 30px;
	justify-content: space-around;
	border-bottom: 1px solid #FFFFFF;
}

.footer__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 26px;
	color: #fff;
}

.footer__menu {
	list-style: none;
	align-self: center;
}

.footer__link {
	display: inline-block;
	margin-bottom: 10px;
   color: #fff;
	transition: all 0.3s ease 0s;
}

.footer__link:hover {
   color: #fff;
	transform: scale(1.1);
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 20px;
}

.footer__contacts-tel {
	display: inline-block;
	padding: 10px 0;
	padding-left: 62px;
	background: url('../img/old-typical-phone\ 1.png') left no-repeat;
}

.footer__contacts-mail {
	display: inline-block;
	padding: 10px 0;
	padding-left: 62px;
	background: url('../img/email\ 1.png') left no-repeat;
}

.footer__social {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.footer__copy {
	text-align: center;
	padding: 20px 0;
}