<header class="header">
        <img class="img_1" src="../img/header_Vector 2.png" alt="header_Vector 2">
        <img class="img_2" src="../img/header_Vector 3.png" alt="header_Vector 3">
    <div class="container">
        <div class="row">
            <div class="col-12">              
                <div class="col-4">
                    <div class="header_logo">
                        <img src="../img/logo.svg" alt="logo">
                    </div>
                </div>
                <div class="col-8">

                </div>
            </div>
        </div>
    </div>
</header>