<section class="teachers">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="teacher">
                    <img src="../img/teacher_1.png" alt="teacher_1">
                    <div class="teacher_descript">
                        <div class="descript_title">
                            Ірина Кісик
                        </div>
                        <div class="descript_text">
                            Lorem ipsum dolor sit amet consectetur. <br> Id malesuada praesent et integer orci <br> ultrices
                            risus. Nunc suscipit vestibulum massa massa.
                        </div>
                    </div> 
                </div>
                <div class="teacher">
                    <img src="../img/teacher_2.png" alt="teacher_2">
                    <div class="teacher_descript">
                        <div class="descript_title">
                            Ірина Кісик
                        </div>
                        <div class="descript_text">
                            Lorem ipsum dolor sit amet consectetur. <br>
                            Id malesuada praesent et integer orci <br> ultrices
                            risus. Nunc suscipit vestibulum massa massa.
                        </div>
                    </div>
                </div>
                <div class="teacher">
                    <img src="../img/teacher_1.png" alt="teacher_1">
                    <div class="teacher_descript">
                        <div class="descript_title">
                            Ірина Кісик
                        </div>
                        <div class="descript_text">
                            Lorem ipsum dolor sit amet consectetur. <br> Id malesuada praesent et integer orci <br> ultrices
                            risus. Nunc suscipit vestibulum massa massa.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>