<section class="teams">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex">
        <div class="col-6">
          <div class="teams__about">
            <div class="teams__about-title">
              Наша команда
            </div>
            <div class="teams__about-descrip">
              Lorem ipsum dolor sit amet consectetur. Vitae hac morbi tempor quam. Velit sociis tincidunt
              elit sed mattis. Diam aliquam euismod orci feugiat tempus volutpat malesuada. Aliquet vitae
              feugiat morbi enim viverra non ac amet. Eget porttitor arcu cursus orci ac nisl condimentum
              eget nulla. Lacus et adipiscing tortor diam. Scelerisque semper mi nulla sagittis dui et.
              Montes in et posuere diam est auctor id imperdiet felis. Et maecenas mi praesent sed
              suspendisse sapien. Diam rhoncus mi metus eget quisque nunc suspendisse pretium. Dui tempus
              eget tincidunt.
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="teams__foto">
            <img src="../img/teams.png" alt="teams">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>