.header{
    position: relative;
    overflow: hidden;
    height: 405px;
    &__start {
        z-index: -1;
        position: absolute;
        height: 318px;
        top: 0;
        left: 0;
        width: 100vw;
    }
    &__back {
        z-index: -2;
        position: absolute;
        height: 405px;
        top: 0;
        left: 0;
        width: 100vw;
        @media screen and (max-width: 768px){
            display: none;
        }
    }
    &__logo {
        margin-top: 40px;
        @media screen and (max-width: 992px){
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
    &__menu {
        display: flex;
        margin-top: 40px;
        gap: 50px;
        li {
            a {
                // font-family:'Montserrat';
                text-decoration: none;
                color: #FFDDB6;
                font-weight: 500;
                font-size: 22px;
                white-space: nowrap;
                @media screen and (max-width: 992px) {
                    font-size: 16px;
                }
                &:hover {
                    color: white;
                }
            }
        }
    }
}
